body {
    background-color: rgba(24, 88, 226, 0.781);
    font: 12pt Arial;
    color: white
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
}

div {
    color: black;
    padding: 8px;
    font: 13pt Arial;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}